<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Crear publicacion</title>
    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <!--  barra de navegacion -->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">

            <nav class="navbar ">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_UTFSM.png" alt="Logo" width="78" height="75" class="d-inline-block align-text-top">
                    
                    <a class="navbar-brand" href="#">Vida sansana</a>
                  </a>
                </div>
              </nav>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
           
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Talleres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Calendario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pymes</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<!--  contenedor -->
<div class="container my-3 mx-1">
  <div class="row">
      <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">

      </div>