{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Editar taller</title>
    <!-- boostrap -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <!--  barra de navegacion -->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">

            <nav class="navbar ">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_UTFSM.png" alt="Logo" width="78" height="75" class="d-inline-block align-text-top">
                    
                    <a class="navbar-brand" href="#">Vida sansana</a>
                  </a>
                </div>
              </nav>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
           
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Talleres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Calendario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pymes</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<!-- barra provi -->

<!-- <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Vida sansana</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
       
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Talleres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Calendario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pymes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
      
<!--  contenedor -->
  <form method="post">
    {{form}}
    {% csrf_token %}
    <div class="container my-3 mx-1">
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">

            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tenis " name="nombre">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Descripcion " name="descripcion">
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
                <label for="formGroupExampleInput3" class="form-label">Profesor</label>
                <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Susana Oria " name="profesor">
              </div>
              <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 mb-3">
                <label for="formGroupExampleInput4" class="form-label">Cupo</label>
                <input type="number" min="0" class="form-control" id="formGroupExampleInput4" name="cupo">
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 mb-3">
                <label class="text col-sm-2 col-md-2 col-lg-2 col-xl-2 mb-2" for="inputGroupSelect01">Estado</label>
                <select class="form-select " id="inputGroupSelect01">
                  <option selected>Selecione...</option>
                  <option value="1">Abierto</option>
                  <option value="2">Cerrado</option>
                </select>
              </div>

<!-- horario -->
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <h2>Horario</h2>
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th>Dias</th>
                            <th>Hora inicio</th>
                            <th>Hora fin</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Lunes</td>
                            <td> 00:00</td>
                            <td> 00:00</td>
                            
                        </tr>
                        <tr>
                            <td>Martes</td>
                            <td> 00:00</td>
                            <td> 00:00</td>
                            
                        </tr>
                        <tr>
                            <td>Miercoles</td>
                            <td> 00:00</td>
                            <td> 00:00</td>
                            
                        </tr>
                        <tr>
                            <td>Jueves</td>
                            <td> 00:00</td>
                            <td> 00:00</td>
                            
                        </tr>
                        <tr>
                            <td>Vienes</td>
                            <td> 00:00</td>
                            <td> 00:00</td>
                          
                        </tr>
                        <tr>
                            <td>Sabado</td>
                            <td> 00:00</td>
                            <td> 00:00</td>
                          
                        </tr>
                        <tr>
                            <td>Domingo</td>
                            <td> 00:00</td>
                            <td> 00:00</td>
                          
                        </tr>
                    </tbody>
                </table>
            </div>

              <button type="button " class="btn btn-success">Guardar cambios</button>
            
        </div>
    </div>
  </form>
</body>
</html>