{% extends "barradenav.html" %}


{% block contenido %}
    <body>
        <section>
            <br/>

            
    <div class="container">
            <form method="POST">
                {{ form }}
                {% csrf_token %}
                <h4 class="mb-4 mx-3">Registro de Taller</h4>
                <br/>

<!----------------------------------------------------fila1------------------------------------------------------------------->


                <div class="row l g-3 mx-3"> 
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Nombre de taller</label>
                        <input type="text" class="form-control "  placeholder="Ejemplo: Tenis" name="nombre" >
                    </div>
        
                    <div class="col-sm-6">
                        <label for="tetx" class="form-label">Descripcion</label>
                        <input type="text" class="form-control"  placeholder="Ejemplo: taller de tenis en el que..." name="descripcion" >
                    </div>

                    <div class="col-sm-6">
                      <label for="tetx" class="form-label">Ubicacion</label>
                      <input type="text" class="form-control"  placeholder="Ejemplo: Sala 108" name="ubicacion" >
                    </div>                    

                    <div class="col-sm-6">
                        <label for="text" class="form-label"  >Profesor </label>
                        <input type="text" class="form-control" placeholder="Ejemplo: Javier Maldonado" name="profesor" >
                    </div>
                </div>
                <br> <!--salto de linea-->
<!----------------------------------------------------fila2------------------------------------------------------------------->

                    <div class="row">


                      <div class="col-sm-4 col-md-2 col-lg-2 col-xl-2 ">
                          <label for="text" class="form-label" >Cupo maximo</label>
                          <input type="text" class="form-control"  placeholder="0" name="cupoM" >
                      </div>    


                      <div class="col-sm-4 col-md-2 col-lg-2 col-xl-2 ">
                        <label for="text" class="form-label" >Cupo Actual</label>
                        <fieldset disabled> 
                        <input type="text" class="form-control"  placeholder="0" name="cupoA" >
                      </div>                        
                    

                      <div class="col-sm-8 col-md-3 col-lg-3 col-xl-3 ">
                          <label class="form-label" for="inputGroupSelect01" >Sede</label>
                          <select class="form-select " id="inputGroupSelect01" name="sede">
                            <option selected >Selecione...</option>
                            <option value="1" >Sede Viña del Mar</option>
                            <option value="2" >Sede Concepcion</option>                  
                            <option value="3">Campus San Joaquin</option>                  
                          </select>
                      </div>
                      <!--columna de ESTADO-->
                      <div class="col-sm-4 col-md-2 col-lg-2 col-xl-2 ">

                        <label class="form-label" for="inputGroupSelect01" >Estado</label>
                        <select class="form-select " id="inputGroupSelect01" name="estado">
                          <option selected>Selecione...</option>
                          <option value="1">Abierto</option>
                          <option value="2">Cerrado</option>                  
                        </select>


                      </div>

                    </div>
                  <br> <!--salto de linea-->

<!----------------------------------------------------fila3------------------------------------------------------------------->


                    <div class="row">

                      <div class="container">
                        <h4>Horario</h4>
                        <div class="table-responsive">
                            <table class="table table-light">
                                <thead class="table table-sm" style="background-color:#0d6efd; color: white;" >
                                    <tr>
                                        <th scope="col">Dia</th>
                                        <th scope="col">Hora Inicio</th>
                                        <th scope="col">Hora Fin</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td scope="row">Lunes</td> <!--dia-->
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hinicio1" ></td>
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hfin1" ></td>
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="1" name="lunes">
                                            <label class="form-check-label" for="inlineCheckbox2">Incluir</label>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td scope="row">Martes</td>
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hinicio2" ></td>
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hfin2" ></td>
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2" name="martes">
                                            <label class="form-check-label" for="inlineCheckbox2">Incluir</label>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td scope="row">Miercoles</td>
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hinicio3" ></td>
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hfin3" ></td>
                                        
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="3" name="miercoles">
                                            <label class="form-check-label" for="inlineCheckbox2">Incluir</label>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td scope="row">Jueves</td>
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hinicio4" ></td>
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hfin4" ></td>
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="4" name="jueves">
                                            <label class="form-check-label" for="inlineCheckbox2">Incluir</label>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td scope="row">Viernes</td>
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hinicio5" ></td>
                                        <td><input type="text" class="form-control"  placeholder="00:00" name="Hfin5" ></td>
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="5" name="viernes">
                                            <label class="form-check-label" for="inlineCheckbox2">Incluir</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>

                    <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>

                
            
          </form><!----------------------------termino del FORM------------------------------------------------>
    </div>
    <br>
        </section>
    </body>
    {% endblock %}
