<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>filtrar hito</title>
    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>



<div class="position-sticky" style="top: 2rem;">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; background-color: white;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Filtrar Hito Academico</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link link-dark">
                    <div class="col-sm-16 col-md-12 col-lg-12 col-xl-12 mb-3">
                        <label for="formGroupExampleInput" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder=":Premiacion ">
                      </div>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <div class="mb-3 -sm-16 col-md-12 col-lg-12 col-xl-12">
                        <label for="formGroupExampleInput" class="form-label">Fecha</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder=":dd/mm/aa ">
                      </div>
                </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <div class="col-sm-16 col-md-12 col-lg-12 col-xl-12 mb-3">
                    <label class="text col-sm-16 col-md-8 col-lg-8 col-xl-8 mb-3" for="inputGroupSelect01">Ubicacion</label>
                    <select class="form-select " id="inputGroupSelect01">
                      <option selected>Selecione...</option>
                      <option value="1">Sede Viña del Mar</option>
                      <option value="2">Sede Concepcion</option>
                      <option value="3">Campus San Joaquin</option>
                    </select>
                  </div>
              </a>
            </li>
            
           
          </ul>
          <hr>
         
        </div>
      </div>