<!DOCTYPE html>
<html>
  <body>
    <h2>CatphotoApp</h2>
    <main>
      <h3>Cat photos</h3>
      <!--algun comentario--> 
      <p>Click here to view more 
        <a href = "https://catphotos.com"><!--el link no es correcto pero igual sirve-->
          cat photos
        </a>
      </p>
      <a href = "https://google.com" target = "_blank">
        ir a google en nueva perstaña
      </a> 

      <img src = ""> <!--dentro de src iria el lugar de la img-->

      <h3>Cat list</h3>
      <!--lista normal-->
      <p>Cosas que <em>aman</em> los gatos</p>
      <ul style="list-style-type:disc">
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
      </ul>
      <!--lsita ordenada-->
      <p>Cosas que <strong>aman</strong> los gatos</p>
      <ol>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
      </ol>
      <h3>Imagen de Cafe</h3>
      <img src="descarga.jpg" alt = "imagen de cafe">
      <p>Ingrese su nombre</p>
      <!--creando un formulario-->
      <form action="/URL donde vamos a enviar los datos"><!--a esa url iran los datos-->
        <!--entra de texto-->
        <input type= "text" placeholder ="ingrese nombre" required>
        <!--agregando boton-->
        <button type="submit">Enviar</button>
        <label>
          <input type="radio" name="seleccion1"> acepto
        </label>
        <label>
          <input type="radio" name="seleccion1"> no acepto
        </label>
      </form>
      quede en en video 30:35

      

      





    </main>
  </body>
</html>