{% load  static %}
<html>    
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <h1>
            <a href="{% url 'crear_taller' %}">crear Taller</a>
        </h1>
        <h1>
            <a href="{% url 'crear_publicacion' %}">crear publicacion</a>
        </h1>
        <h1>
            <a href="{% url 'login' %}">login</a>
        </h1>
        <h1>
            <a href="{% url 'carrusel' %}">carrusel</a>
        </h1>
        <h1>
            <a href="{% url 'inscribir' %}">inscribir taller</a>
        </h1>
        <h1>
            <a href="{% url 'puntuar' %}">puntuar</a>
        </h1>
    </body>
    
</html>